*{
    box-sizing: border-box;
    margin: 0;
    }
    
    header{
        background-color: black;
        color: white;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
      
    }   
    
    header p{
        padding: 0.3em .5em;
        box-sizing: border-box;
    }
    nav{
    display: flex;
    justify-content: space-between;
    
    
    
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        
       
    
    }
    nav ul li{
    display: flex;
    text-decoration: none;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    
    
    
    }
    nav img{
       height: 2.8em;
       justify-content: left;
    
    
    }
    
    main section {
    position: relative;
    max-height: 90vh;  
    overflow: hidden;  
    
    }
    
    main section img{
    width: 100%;
    
     }
    
    section h1{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 28vw;
    justify-content: center;
    z-index: 1;
    bottom: 0;
    font-style: oblique;
    
    
    
     }
     
    
     h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        font-size: small;
      margin: 1.5em;
      
     }
    
    main article img{
    display: grid;
    height: 90vw;
    margin: 5vw;
    max-width: 50em;
    max-height: 40em;
     }
    
    footer{
    background-color: rgb(255, 236, 248);
    }
    footer img{
        width: 90%;
        margin-left: 2em;
        max-width: 15em;
    }
    
    footer ul{
        justify-content:left;
        padding: 0.01em;
        text-decoration: none;
    }
    
    footer ul li{
     text-decoration: none;
     list-style-type: none;
    padding: 0.4em;
    font-size: small;
    }
    
    article button {
        background-color: white;
        padding: 1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        z-index: 1;
        /*plaatje met button erop*/
    }
    
    
    
    
    h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        font-weight: 300;
    }
    
    footer p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       padding: 1em;
    
    
      
    }
    
    footer label{
        color: rgb(65, 65, 65);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        margin-left: 1em;
    }
    
    footer input {
    height: 3em;
    outline-width: 40em;
    background-color: white;
    margin-left: 1em;
    
    
    }
    footer p:nth-of-type(2){
       color: rgb(197, 74, 74);
       font-size: small;
     
    }
    footer p:nth-of-type(3){
        color: grey;
        font-size: small;
    }
    
     
    h4{
    margin-top: 2em;
       line-height: 4em;
       border-top: 1px solid #000000;
       text-transform: uppercase;
       margin-left: 1em;
    }
     
    
    
    h3{
         color: black;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         margin: 1em;
         font-size: large;
         font-weight: 400;
    }
    
    
    video{
        display: flex;
    margin: 0.8em;
    width: 90%;
    max-height: 30em;
    margin-left: 5%;
       
    }
    
    article p{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin:  1em;
        font-size: x-large;
    
    }
    
    nav a{
        display: flex;
        border: 0; 
        margin: 0; 
        padding: 0;
        margin-left: 0em;
        
      
    }
    a{
        background-color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          color: black;
          border: 1px solid rgb(0, 0, 0);
          margin-left: 1em;
          padding: 5% 5%;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        
        }
    
    
    /* knop voor producten, grote knoppen*/
    article button:nth-of-type(2){
    display: flex;
    left: 1em;
    width: 16em;
    margin-bottom: 2em;
    }
    
    article{
        padding-bottom: 2em;
    }
    
    a:nth-of-type(1){
        color: blueviolet;
    
    }
    
    article img{
    
    }